<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> style}}
{{> navbar}}

<!-- First Container -->
  <div class="container">
    <div class="row">
      {{> sidebar}}
      <div class="col-sm-9">
        <p>
          <b>FAQ</b>
          Name: Reggie<br>
          Age: 25<br>
          Where are you from? Bay Area, CA<br>
          How long have you been streaming: Since November 2017<br>
          Favorite games? Fallout series, Battlefield series, World of Warcraft, DOTA 2<br>
          Tattoos<br>

          Music<br><br><br>

          <a href="https://pcpartpicker.com/user/Reginvld/saved/#view=DYHZ8d">
          <b>Computer Build</b></a><br>
          CPU: Ryzen 1700 @ 3.65GHz<br>
          CPU Cooler: AMD Wraith Spire<br>
          Motherboard: ASUS Prime X370-Pro<br>
          RAM: G Skill Trident Z 16GB 3200MHz CL14<br>
          Video Card: MSI AMD R9 390 8G<br>
          Storage: ADATA 128GB NVME SSD & Crucial 525GB SSD<br>
          PSU: EVGA Supernova 750 G3<br>
          Case: Silverstone RL06<br><br>
        </p>
        <br>
        <p><b>Gear & Peripherals</b><br>
        Monitors: 3x ACER XF240H<br>
        Capture Card: El Gato HD60 Pro<br>
        Webcam: Logitech C920<br>
        Audio Interface: Scarlett 2i2<br>
        Headphones: Sennheiser HD558<br>
        Microphone: RODE NT1<br>
        Mouse: Logitech G500<br>
        Keyboard: MPOW Mechanical Keyboard<br>
        Desk: IKEA GALANT<br>
        Chair: Gaiam Balance Ball Chair<br>
      </div>
    </div>
  </div>
  {{> footer}}
</body>
</html>
