<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> style}}
{{> navbar}}

<!-- First Container -->
  <div class="container">
    <div class="row">
      {{> sidebar}}
      <div class="col-sm-auto">
            <html>
              <body>
          <!-- Add a placeholder for the Twitch embed -->
          <div id="twitch-embed"></div>

          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "reginerd"
            });
          </script>
        </body>
      </html>
    </div>
  </div>
  {{> footer}}
</body>
</html>
