<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> style}}
{{> navbar}}

<!-- First Container -->
  <div class="container">
    <div class="row">
      {{> sidebar}}
      <div class="col-sm-9">
        <p>
          <h1>Subscribe</h1>
          <p>My livestream has a subscription feature to help support my channel and Twitch.</p> <br>
          <a href="https://www.twitch.tv/products/reginerd/ticket">
            <img src="http://cdn.sacriel.tv/wpsac/wp-content/uploads/twitchsub.jpg">
          </a>
          <br><br>
          <h3>Subscription Perks</h3>
          <p>Subscribers will be able to use my emotes across Twitch. <br>
          Optional sound effect upon viewing <i>or</i> entering the stream.<br>
          General stream sound effects command access.<br>
          Ad free stream</p><br>
          <b>Tier 1:</b><br>
          <img src="https://i.imgur.com/snkHPej.png"><br>
          <b>Tier 2:</b><br>
          <img src="https://i.imgur.com/wQbr5wY.png"><br>
          <b>Tier 3:</b><br>
          <img src="https://i.imgur.com/xcGqXqi.png">
        </p>
        <br>
        <a href="https://www.streamlabs.com/reginerd">
          <img src="https://i.imgur.com/YqJ4xe8.png">
        </a>
      </div>
    </div>
  </div>
  {{> footer}}
</body>
</html>
